<div class="wrapper">
  <div class="head">
    <span> Unapredjenje Korisnika </span>
    <button mat-icon-button (click)="closeDialog()"> <mat-icon>close</mat-icon> </button>
  </div>

  <span class="confirm-txt"> Da li ste sigurni da zelite da unapredite ovog korisnika? </span>
  <span class="confirm-txt warn"> Necete moci da opozovete ovu akciju! </span>
  <span class="confirm-txt warn"> Netece moci da brisete ovog korisnika! </span>
  <div class="buttons">
    <button mat-flat-button color="warn" (click)="closeDialog()"> Nazad </button>
    <button mat-flat-button color="primary" (click)="confirm()" > Unapredi. </button>
  </div>
</div>
