<div class="wrapper">
  <div class="header">
    <div class="flex-middle">
      <img class="location-logo" src="{{ machine.image }}" alt="logo" />
      <span class="title"> {{ machine.location }} </span>

      <button style="margin-left: 16px;" mat-flat-button color="primary" (click)="openRestockDialog()">
        <mat-icon>replay</mat-icon> Restock
      </button>

    </div>
    <div class="flex-top">
      <button mat-fab color="primary" (click)="openEditMachineDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab color="warn" (click)="openConfirmDeleteDialog()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="info">
    <div class="panel">
      <span class="name-txt"> Machine ID </span>
      <span class="val-txt"> {{ machine._id }} </span>
    </div>

    <div class="panel">
      <span class="name-txt"> Stvar </span>
      <span class="val-txt"> {{ machine.item }} </span>
    </div>

    <div class="panel">
      <span class="name-txt"> Cena </span>
      <span class="val-txt"> {{ machine.price }} RSD </span>
    </div>

    <div class="panel">
      <span class="name-txt"> Cena Lokala (mesecno) </span>
      <span class="val-txt"> {{ machine.locationPrice }} RSD </span>
    </div>

    <div class="panel">
      <span class="name-txt"> Stanje Inventara </span>
      <span class="val-txt"> {{ machine.stock }} / {{ machine.maxStock }} KOM </span>
    </div>
  </div>

  <div class="chart-wrapper">
    <ngx-charts-line-chart
      *ngIf="viewChart"
      [view]="view"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="chartData"
    >
    </ngx-charts-line-chart>
  </div>

  <div class="table-wrapper" *ngIf="showTable">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dan </th>
        <td mat-cell *matCellDef="let element">
          {{element.date.getDate()}}/{{element.date.getMonth()+1}}/{{element.date.getFullYear()}}
        </td>
      </ng-container>

      <ng-container matColumnDef="sales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prodaje </th>
        <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} RSD </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [disabled]="element.csvUrl.length < 1" (click)="openCSV(element.csvUrl)">
            <mat-icon>article</mat-icon>
          </button>
          <button mat-icon-button [disabled]="element.csvUrl.length < 1" (click)="downloadCSV(element.csvUrl)">
            <mat-icon>save_alt</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
  </div>

</div>
